@use "../../App.scss";
$form-font-size: 18px;

.registrationForm {
  @extend %center-align;
  border: 1px black dotted;
  margin-top: 2vh;
  width: fit-content;
}

.regForm {
  margin-right: 1vw;
}
.formHeader {
  margin-left: 1vw;
}

.formLine {
  display: flex;
  flex-direction: row;
}

.formWrap {
  margin-left: 1vw;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.formField {
  width: 150px;
  font-size: $form-font-size;
}

.formLabel {
  margin-bottom: 4px;
  font-size: 12px;
}

.selectFormField {
  @extend .formField;
  width: 156px;
}

.emailFormField {
  @extend .formField;
  width: 323px;
}
option {
  font-size: 15px;
}
