$buttonHeight: 40px;
$buttonWidth: 100px;
$common-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);

@mixin fancyButton($btnColor: Black) {
  color: white;
  font-weight: bolder;
  border: none;
  width: $buttonWidth;
  height: $buttonHeight;
  font-size: 15px;
  &:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
  &:not([disabled]) {
    background-color: $btnColor;
    cursor: pointer;
  }
  box-shadow: $common-box-shadow;
  border-radius: 4px;
  &:active {
    box-shadow: none;
    color: yellow;
  }
}

div.buttonArea {
  height: $buttonHeight;
  margin: 1vw;
  width: $buttonWidth;
}

button.blackButton {
  @include fancyButton();
}

button.greenButton {
  @include fancyButton($btnColor: rgb(12, 117, 12));
}

button.blackButtonSqr {
  @include fancyButton();
  width: 40px;
  height: 40px;
}
