$common-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);

h1.noPaddingMargin {
  padding: 0px;
  margin: 0px;
}

.timerBox {
  display: flex;
  flex-direction: row;
  background: white;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.4);
}

.timerContainer {
  display: flex;
  direction: row;
  justify-content: right;
  padding-right: 1vw;
}

.timeLeft {
  padding: 0vw 1vw 0vw 1vw;
}

.timer {
  color: black;
}

.timer-red {
  animation: blink 1s infinite;
  color: rgb(216, 18, 18);
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.questionPanel {
  background: white;
  border-radius: 2vw;
  padding-bottom: 1vw;
  box-shadow: $common-box-shadow;
}
.question {
  display: flex;
  padding-left: 2vw;
  margin: 0px;
  background: wheat;
  height: 4vw;
  text-align: left;
  align-items: center;
}

.answerItem {
  margin-left: 2vw;
  width: inherit;
}

.inputControl {
  width: 2vw;
}

.questionStatusPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
}

%heading {
  display: flex;
  flex-direction: row;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0vw;
  margin-top: 1vw;
  background: white;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.leftHeading {
  @extend %heading;
  justify-content: flex-start;
  width: 50%;
}

.rightHeading {
  @extend %heading;
  justify-content: flex-end;
  width: 50%;
}

.questionNavButtonPanel {
  display: flex;
  flex-direction: row;
}

.commonFlexPanel {
  display: flex;
  direction: row;
}
.panLeft {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.panRight {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding-right: 2vw;
}

.panLeft80 {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.panRight20 {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.extremeRight {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2vw;
}
